@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if(SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" #href="#">@await UserManager.GetUserAsync(User)</a>
        </li>
    }
    else{
        <li class="nav-item">
            <a class="nav-item" asp-controller="User" asp-action="Register">Register</a>
        </li>
    }    
</ul>