@using Application.Contracts.Dtos
@using Application.Contracts.Dtos.ApplicationUser
@using Application.Contracts.Dtos.Product
@model Paging<ProductDto, RequestGetListFilterProductDto>

<form asp-controller="Home" asp-action="Index" method="post">
      <div class="input-group">
          <input type="search" asp-for="@Model.Payload.Keyword" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          <input type="submit" value="Search" class="btn btn-outline-primary"/>
      </div>
</form>